/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background:rgb(255, 115, 190);
}
.color-2 {
    background: rgb(71, 190, 204);
}
.color-3 {
    background: rgb(255, 241, 140);
}
.color-4 {
    background: rgb(71, 167, 178);
}
.color-5 {
    background: rgb(178, 62, 125);
}

/* Textures or Patterns*/
.pattern-1 {
    background: url(../img/pink_rice.png);
}
.pattern-2 {
    background: url(../img/symphony.png);
}
.pattern-3 {
    background: url(../img/tree_bark.png);
}
.pattern-4 {
    background: url(../img/upfeathers.png);
}
.pattern-5 {
    background: url(../img/photography.png);
}
/* Imagery */
.imagery-1 {
    background: url();
}
.imagery-2 {
    background: url();
}
.imagery-3 {
    background: url();
}
.imagery-4 {
    background: url();
}
.imagery-5 {
    background: url();
}

/* Icons */
.icon-1
.icon-2
.icon-3
.icon-4
.icon-5

/* Typography */
section.grid-3 h2 h2 {
    font-family: 'Lora', serif;
}
p {
    font-family: 'Lora', serif;
}
/* Forms */
.button-a {
    background: rgb(71, 167, 178);
    border-radius: 8px;
    border: none;
    color: white;
}
/* Tables */
td {
    font-family: 'Lora', serif;
}

/* Cards */
figure {
border-radius: 12px;
}

/* Navigation */
section h2 nav ul li a {
line-decoration: none;
}
# {
    display: none;
}
a {
    color: rgb(71, 190, 204);
    text-decoration: none;
}
a:click {
    color: dodgerblue
}
a:hover {
    color: rgb(178, 62, 125);
}
.pnav h2 {
    font-family: 'Lora', serif;
}
.link-button {
    color: white;
    border-radius: 8px;
    border: none;
    background: rgb(71, 190, 204);
}