/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background:rgb(255, 115, 190);
}
.color-2 {
    background: rgb(71, 190, 204);
}
.color-3 {
    background: rgb(255, 241, 140);
}
.color-4 {
    background: rgb(71, 167, 178);
}
.color-5 {
    background: rgb(178, 62, 125);
}

/* Textures or Patterns*/
.pattern-1 {
    background: url(../img/pink_rice.png);
}
.pattern-2 {
    background: url(../img/symphony.png);
}
.pattern-3 {
    background: url(../img/tree_bark.png);
}
.pattern-4 {
    background: url(../img/upfeathers.png);
}
.pattern-5 {
    background: url(../img/photography.png);
}
/* Imagery */


/* Icons */


/* Typography */
section h2 {
    font-family: 'Lora', serif;
}

section h3 {
    font-family: 'Cinzel', serif;
}
p {
    font-family: 'Lora', serif;
}
section label {
    font-family: 'Lora', serif;
}
/* Forms */
.button-a {
    background: rgb(71, 167, 178);
    border-radius: 8px;
    border: none;
    color: white;
}
/* Tables */
td {
    font-family: 'Lora', serif;
}

/* Cards */
figure {
    border-radius: 12px;
    background: rgb(71, 190, 204);
}
figure h2 {
    font-family: 'Cinzel', serif;
}
figure h3 {
    font-family: 'Lora', serif;
}
figure img {
    border-radius: 50%;
}

/* Navigation */
a {
    color: rgb(71, 190, 204);
    text-decoration: none;
}
a:click {
    color: dodgerblue
}
a:hover {
    color: rgb(178, 62, 125);
}
.pnav h2 {
    font-family: 'Lora', serif;
}
.link-button {
    color: white;
    border-radius: 8px;
    border: none;
    background: rgb(71, 190, 204);
    font-family: sans-serif;
}